//////////IMPORTS///////////////////
@import 'bourbon/bourbon';
@import 'base/base';
@import '_normalize';


//////////VARIABLES///////////////////



//////////MIXINS///////////////////
@mixin flex-row() {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@mixin arrow() {
  width: 0;
  height: 0;
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
}

@mixin vertical-center() {
  position: absolute;
  margin-top: -50px;
  top: 20%;
}
//////////BASE STYLES///////////////////
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

div {
  display: block;
}


//////////ELEMENT STYLES///////////////////
#container {
  margin: 10em auto;
  background-color: #fff;
  border: 1px solid black;
  max-width: 60%;
  height: 500px;
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.arrow {
@include arrow;
}

#leftArrow {
  border-right: 50px solid rgba(82,189,40, .9);
  float: left;
  @include vertical-center;
  right: 105%;
}

#rightArrow {
  border-left: 50px solid rgba(82,189,40, .9);
  float: right;
  @include vertical-center;
  left: 105%;
}
